
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Company Name</th>
      <th scope="col">Designation</th>
      <th scope="col" >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contacts">
      <th scope="row">{{item.contact.name}}</th>
      <td>{{item.contact.email}}</td>
      <td>{{item.contact.phone_number}}</td>
      <td>{{item.contact.address}}</td>
      <td>{{item.contact.company_name}}</td>
      <td>{{item.contact.designation}}</td>
      <td><button mat-raised-button color="red" (click)="delete(item.id)">Delete</button></td>
      
    </tr>
  </tbody>
</table>

<button mat-raised-button color="light" data-toggle="modal" data-target="#exampleModal">Add Contact</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="fix">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="email">
          </mat-form-field>
        </div>
        <div class="fix">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone Number" [(ngModel)]="phone_number">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Address" [(ngModel)]="address">
          </mat-form-field>
        </div>
        <div class="fix">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company Name" [(ngModel)]="company_name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Designation" [(ngModel)]="designation">
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button mat-raised-button data-dismiss="modal" (click)="addContact()">Add Contact</button>
      </div>
    </div>
  </div>
</div>