.mycon{
    // margin: 20px;
    display: flex;
    flex-direction: row;
}

.content-post{
    // border: 1px solid gainsboro;
    width: 300px;
    height: 420px;
}
#card{
    width: 333px;
    
}

#post-chart{
    margin-right: auto;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

/* canvas{
    width:250px;
    height:350px;
} */


.container{
    display: flex;
    flex-wrap: wrap;
}

.number{
    height: 200px;
    font-size: 100px;
}

.numbers{
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    
}