<div class="container">
  <div *ngIf="organization">
    <div class="numbers">
        <mat-card class="number">
          <h2 style="text-align: center;"><strong>Number of chats Today</strong></h2>
          <p style="text-align: center;"><strong>{{number_of_chats_today}}</strong></p>
        </mat-card>
        
        <mat-card class="number">
          <h2 style="text-align: center;"><strong>Number of Unique Users</strong></h2>
          <p style="text-align: center;"><strong>{{daily_users}}</strong></p>
        </mat-card>
      
        <mat-card class="number">
          <h2 style="text-align: center;"><strong>Number of Unhandled Chats</strong></h2>
          <p style="text-align: center;"><strong>{{unhandled}}</strong></p>
        </mat-card>
        <mat-card class="number">
          <h2 style="text-align: center;"><strong>Number of CheckIns</strong></h2>
          <p style="text-align: center;"><strong>{{checkin}}</strong></p>
        </mat-card>
        <mat-card class="number">
          <h2 style="text-align: center;"><strong>Number of Reservations</strong></h2>
          <p style="text-align: center;"><strong>{{reservation}}</strong></p>
        </mat-card>
      </div>
  <mat-card>
    <h2 style="text-align: center;"><strong>Chatbot Data</strong></h2>
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Organization Name</th>
      <th scope="col">Sender ID</th>
      <th scope="col">Sender Message</th>
      <th scope="col">Bot Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of log">
      <th scope="row">{{item.id}}</th>
      <td>{{item.organization_bot.user_organization.organization_name}}</td>
      <td>{{item.sender_id}}</td>
      <td>{{item.sender_message}}</td>
      <td>{{item.chatbot_message}}</td>
      
    </tr>
    
  </tbody>
</table>

<div  style="text-align: center; display: flex; justify-content: space-evenly;">
        <a (click)="prev()">Prev</a>
        <a (click)="next()">Next</a>
</div>

<br>
    <button mat-raised-button (click)="downloadAction()">Download Data</button>
    


    <table [hidden]="true" class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Organization Name</th>
                <th scope="col">Sender ID</th>
                <th scope="col">Sender Message</th>
                <th scope="col">Bot Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of total">
                <th scope="row">{{item.id}}</th>
                <td>{{item.organization_bot.user_organization.organization_name}}</td>
                <td>{{item.sender_id}}</td>
                <td>{{item.sender_message}}</td>
                <td>{{item.chatbot_message}}</td>
                
              </tr>
              
            </tbody>
          </table>
</mat-card>

</div>


  <mat-card id="card">


    <div class="content-post">
        <p style="color:grey; margin-left:10px;"> Content Generation</p>
        <canvas id="post-chart"  ></canvas>
    </div>




    



</mat-card>








</div>

<div style="margin-left: 21px;" *ngIf="!organization"><button mat-raised-button  data-toggle="modal" data-target="#myModal">Create Organization</button></div>


<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Organization</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">

        <mat-form-field class="example-full-width">
          <input (input)="org_name=$event.target.value"  matInput placeholder="Organization Name">
        </mat-form-field>
        
      </div>
      <div class="modal-footer">
        <button  mat-raised-button type="button" class="btn btn-default" data-dismiss="modal" (click)="createOrg()">Create Organization</button>
      </div>
    </div>
    
  </div>
</div>