<div>
  <table class="table">


    <thead>
      <tr>
        <th scope="col">Organization</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Title</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Tag</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.organization.organization_name}}</td>
        <td><img src={{item.product_image}} alt="" width="50px" height="50px"></td>
        <td>{{item.product_title}}</td>
        <td>{{item.product_description}}</td>
        <td>{{item.product_tag}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
      </tr>


    </tbody>
  </table>

</div>









<!-- Button trigger modal -->
<button mat-raised-button type="button" data-toggle="modal" data-target="#exampleModal">
  Add New Service</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        
        <div>
        <label for="img" id="upload-icon">
    
          <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->

          <i class="material-icons icon-color"  style="font-size: 40px;">
              add_photo_alternate
          </i>

      </label>

        <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
        </div>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput [value]="product_title" (input)="product_title = $event.target.value"  placeholder="Product Title" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [value]="product_description" (input)="product_description = $event.target.value" placeholder="Product Description" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [value]="product_tag" (input)="product_tag = $event.target.value" placeholder="Product Tag" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [value]="category" (input)="category = $event.target.value" placeholder="Category" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [value]="price" (input)="price = $event.target.value" placeholder="Price">
        </mat-form-field>



      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="" data-dismiss="modal" (click)="addService()">Add Service</button> 
      </div>
    </div>
  </div>
</div>