<div>
  <h1>Tasks:</h1>
</div>

<mat-selection-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of teamtasks">

          <div class="item">

          

          <mat-checkbox (change)="completeTask(item.id)">{{item.task}}</mat-checkbox>
            

          
          </div>

        </mat-list-item>



        
</mat-selection-list>

<div *ngIf="!defaultShow">
  <h3>No task remaining</h3>
</div>
<br>
<br>
<br>
<div>
  <h1>Completed Tasks:</h1>
</div>

<div *ngIf="!completeShow">
  <h3 style="margin-right: 10px;">No tasks completed</h3>
</div>

<mat-selection-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of completed">

    <div class="item">

    

    {{item.task.task}}
      

    
    </div>

  </mat-list-item>



  
</mat-selection-list>