<div class="content">
    <mat-card class="social-card">

        <!-- <div class="content"> -->

        <i style="color:#3b5998" class="fab fa-facebook fa-4x"></i>
        <br>
        <button mat-raised-button (click)="submitLogin()">Authenticate</button>

        <!-- </div> -->

    </mat-card>



    <mat-card class="social-card">

        <!-- <div class="content"> -->

        <i style="color:#0e76a8" class="fab fa-linkedin fa-4x"></i>
        <br>
        <button mat-raised-button>Authenticate</button>

        <!-- </div> -->

    </mat-card>

   
</div>


