<div *ngIf="data['action']=='create'">
        <div class="dialog-container">
                <h3>Schedule Post</h3>
                <div class="buffer">
                    <textarea (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                        placeholder="What would you like to share?"></textarea>
                    <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
            
                    <div class="image-upload">
                        <label for="img" id="upload-icon">
            
                            <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
            
                            <i class="material-icons icon-color"  style="font-size: 40px;">
                                add_photo_alternate
                            </i>
            
                        </label>
                        <input type="file" name="imgUrl2"  (change)="test($event)" style="display: none;" />
                        <div *ngIf="imgUrl2">
                            <mat-card><img src={{imgUrl2}} width="125px" ></mat-card>
                        </div>
                    </div>
                </div>
            
                <br>
                <div class="modal-buttons">
            
                    {{data['time']}} 
                    <div class="input-field">
            

            
                        <button mat-raised-button color="primary" (click)="Schedule()">Schedule Post</button>
                    </div>
            
            
                </div>
            
            
            
            </div>
</div>

<div *ngIf="data['action']=='edit'">
        <div class="dialog-container">
                <h3>Schedule Post</h3>
                <div class="buffer">
                    <textarea [value]="caption" (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                        placeholder="What would you like to share?"></textarea>
                    <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
            
                    <div class="image-upload">
                        <label for="img2" id="upload-icon">
            
                            <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
            
                            <i class="material-icons icon-color"  style="font-size: 40px;">
                                add_photo_alternate
                            </i>
            
                        </label>
                        <input type="file" name="imgUrl2" id="img2" (change)="preview_post($event)" style="display: none;" />
                        <div *ngIf="imgUrl2">
                            <mat-card><img src={{imgUrl2}} width="125px" ></mat-card>
                        </div>
                    </div>
                </div>
            
                <br>
                <div class="modal-buttons">
            
                    {{data['time']}}
                    <div class="input-field">
            
            
            
                        <button mat-raised-button color="primary" (click)="Edit_post()">Edit</button>
                    </div>
            
            
                </div>
            
            
            
            </div>
</div>




