



<mat-card>
    <div class="dialog-container">
        <h3>Schedule Post</h3>
        <div class="buffer">
            <textarea [value]="caption" (input)="caption = $event.target.value;" name="caption" id="caption" cols="144" rows="5"
                placeholder="What would you like to share?"></textarea>
            <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
    
            <div class="image-upload">
                <label for="img" id="upload-icon">
    
                    <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
    
                    <i class="material-icons icon-color"  style="font-size: 40px;">
                        add_photo_alternate
                    </i>
    
                </label>
                <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
                <div *ngIf="imgUrl">
                    <mat-card><img src={{imgUrl}} width="125px" ></mat-card>
                </div>
            </div>
        </div>
    
        <br>
        <div class="modal-buttons">
    
            
            <div class="input-field">
    
    
    
                <button mat-raised-button color="default" (click)="Schedule()">Schedule Post</button>
            </div>
    
    
        </div>
    
    
    
    </div>
</mat-card>




<div class="timeline" *ngFor="let p of posts" (wheel)="generate()">
<mat-card class="default" *ngIf="!p.finalize">
  <mat-card-title>Timeline</mat-card-title>
  <mat-card-content>
    


      <div *ngIf="p.image">


        <div class="timeline-item">
          <div class="timeline-badge">
            <img src="assets/images/logo.png" alt="">
          </div>
          <div class="timeline-body">
            <div class="timeline-body-top" fxLayout="row">
              <a href="#" class="timeline-body-title mr-1"><b> Owner : {{p.cuser.user.first_name}}</b>  Version : {{p.version_number}}</a>
              
              <span fxFlex></span>
            </div>
            <div class="timeline-body-content">
              
              <div class="img-caption">
                  <p>{{p.caption}}</p>
                  <img src="{{p.image}}" style="width: 400px;" alt="">
                  <br>
              <mat-form-field class="example-full-width" style="width:400px;">
                  <input matInput  placeholder="Comment"  (change)="addComment($event,p.id)">
              </mat-form-field>
              <mat-list role="list" *ngFor="let item of version_comments">
                  <div *ngIf="p.id==item.version.post.id && p.version_number==item.version.version">
                    <mat-list-item role="listitem">{{item.comment}}</mat-list-item>
                </div>

                </mat-list>
              </div>
              
            </div>
            
            <div class="timeline-body-actions">
                <a class="mr-1 text-muted" (click)="finalize(p.id)" >Finalize</a>
                
              
              <a class="mr-1 text-muted" (click)="editDialog(p)">Edit</a>
              <!-- <a  class="mr-1 text-muted" (click)="delete(p.id)">Delete</a> -->
            </div>
          </div>
        </div>
        
        
        <div *ngFor="let v of post_versions" >
            <!-- addition -->
            <div *ngIf="v.post.id==p.id && v.version==p.version_number" style="text-align: center;"><strong>Latest Edit by: {{v.latest_edit.user.first_name}}</strong></div>
            <br>
            <!-- addition -->

            <div class="timeline-item" *ngIf="v.post.id==p.id && v.version!=p.version_number">
                <div *ngIf="v.post.id==p.id">
                    <div class="timeline-badge">
                        <img src="assets/images/logo.png" alt="">
                      </div>
                      <div class="timeline-body">
                        <div class="timeline-body-top" fxLayout="row">
                          <a href="#" class="timeline-body-title mr-1"><b>{{v.latest_edit.user.first_name}}</b> posted Version : {{v.version}}</a>
                          
                          <span fxFlex></span>
                        </div>
                        <div class="timeline-body-content">
                          
                          <div class="img-caption">
                              <p>{{v.previous_caption}}</p>
                              <img src="{{v.previous_image}}" style="width: 400px;" alt="">
                              <mat-list role="list" *ngFor="let v_c of version_comments">
                                  <div *ngIf="v.version==v_c.version.version && v.post.id==v_c.version.post.id">
                                    <mat-list-item role="listitem">{{v_c.comment}}</mat-list-item>
                                </div>
                                
                                </mat-list>
                            </div>
                        </div>
                        <!-- <div class="timeline-body-actions">
                            <a *ngIf="!p.like" class="mr-1 text-muted" (click)="like(p.id)" >Like</a>
                            <a *ngIf="p.like"  class="mr-1" style="color: lightblue;"(click)="like(p.id)" >Like</a>
                          <a class="mr-1 text-muted">Comment</a>
                          <a class="mr-1 text-muted" (click)="editDialog(p)">Edit</a>
                          <a  class="mr-1 text-muted" (click)="delete(p.id)">Delete</a>
                        </div> -->
                      </div>
                </div>
              </div>
  
  
  
        
        
        </div>
      
      
      
      </div>
      

      <div *ngIf="!p.image">
          <div class="timeline-item">
              <div class="timeline-badge">
                <img src="assets/images/logo.png" alt="">
              </div>
              <div class="timeline-body">
                <div class="timeline-body-top" fxLayout="row">
                  <a href="#" class="timeline-body-title mr-1"><b>Owner : {{p.cuser.user.first_name}}</b> Version : {{p.version_number}}</a>
                  <!-- <span class="text-muted">1 hour ago</span> -->
                  <span fxFlex></span>
                </div>
                <div class="timeline-body-content">
                  <p>{{p.caption}}.</p>
                  <br>
              <mat-form-field class="example-full-width" style="width:400px;">
                  <input matInput  placeholder="Comment"  (change)="addComment($event,p.id)">
              </mat-form-field>

                <mat-list role="list" *ngFor="let item of version_comments">
                  <div *ngIf="p.id==item.version.post.id && p.version_number==item.version.version">
                    <mat-list-item role="listitem">{{item.comment}}</mat-list-item>
                </div>

                </mat-list>
                </div>
                <div class="timeline-body-actions">
                    <a class="mr-1 text-muted" (click)="finalize(p.id)" >Finalize</a>
                    
                  
                  <a class="mr-1 text-muted" (click)="editDialog(p)">Edit</a>
                  <!-- <a  class="mr-1 text-muted" (click)="delete(p.id)">Delete</a> -->
                </div>
              </div>
            </div>

            <div *ngFor="let v of post_versions" >

                <!-- addition -->
            <div *ngIf="v.post.id==p.id && v.version==p.version_number" style="text-align: center;"><strong>Latest Edit by: {{v.latest_edit.user.first_name}}</strong></div>
            <br>
            <!-- addition -->

                <div class="timeline-item" *ngIf="v.post.id==p.id && v.version!=p.version_number">
                    <div *ngIf="v.post.id==p.id">
                        <div class="timeline-badge">
                            <img src="assets/images/logo.png" alt="">
                          </div>
                          <div class="timeline-body">
                            <div class="timeline-body-top" fxLayout="row">
                              <a href="#" class="timeline-body-title mr-1"><b>{{v.latest_edit.user.first_name}}</b> posted Version : {{v.version}}</a>
                              
                              <span fxFlex></span>
                            </div>
                            <div class="timeline-body-content">
                              
                              <div class="img-caption">
                                  <p>{{v.previous_caption}}</p>
                                  <!-- <img src="{{v.previous_image}}" style="width: 400px;" alt=""> -->
                                  <mat-list role="list" *ngFor="let v_c of version_comments">
                                      <div *ngIf="v.version==v_c.version.version && v.post.id==v_c.version.post.id">
                                        <mat-list-item role="listitem">{{v_c.comment}}</mat-list-item>
                                    </div>
                                    
                                    </mat-list>
                                </div>
                            </div>
                            
                          </div>
                    </div>
                  </div>
      
      
      
            
            
            </div>
      </div>

      


    
  </mat-card-content>
</mat-card>
</div>