

.time-select{
    list-style-type: none;
    text-align: center;
}

.time-select :hover::after{
    content: " Schedule a post";
    cursor: pointer;
}

.modal-buttons{
   display: flex;
   justify-content: space-between;
}

#upload-icon:hover::after{
    cursor: pointer;
}
.input-field{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
textarea{
    border: none;
    border-style:none
}

textarea:focus{
    border: 0;
    outline: none;
}

.buffer{
    border: 1px solid gainsboro;
}
.image-upload{
    display: flex;
}
.icon-color:hover{
    color: lightskyblue;
}

.full-post{
    display: flex;
    justify-content: space-between;
}
.image-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caption-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.edit-b{
    margin-right: 5px;
}
.d-e-buttons{
    display:flex;
    flex-direction: row-reverse;
}