<div style="text-align: center;">
  
  <br>
  <!-- {{page_select}} -->
  <!-- <div *ngIf="data_array">

  <mat-form-field>
  <mat-label>Select Page</mat-label>
  <mat-select [(value)]="selected_value">
    <mat-option *ngFor="let item of data_array" [value]="item.page_name">
      {{item.page_name}}
    </mat-option>
  </mat-select>
</mat-form-field>

 

  <button (click)="selected()">Show</button>
</div> -->

<button mat-raised-button color="light" (click)="customDialog()">Custom Post Schedule</button>



</div>

<div class="myCon" (wheel)="onScroll($event)" (scroll)="onScroll($event)">
  

  <ul *ngFor="let day of days">

    <h4>{{day.month}} {{day.day}}</h4>

    <div *ngIf="day['9.17'].post">
      <mat-card>
        <div class="full-post">
          <div class="image-date">
              <img src="{{day['9.17'].image}}" alt="No Image here" width="200px">
              
              <p>Your post is scheduled for {{day['9.17'].time}}</p>
          </div>
          <div class="caption-buttons">
            <div id="caption">

                <strong>{{postPreview(day['9.17'].post)}}</strong>

            </div>
            <div class="d-e-buttons">
                <button mat-raised-button color="primary" (click)="deletePost(day['9.17'])">Delete</button>
              <button mat-raised-button class="edit-b" color="primary" (click)="editDialog(day['9.17'])">Edit</button>
              

            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div *ngIf="!day['9.17'].post">

      <li class="time-select" (click)="addEventDialog(day.date, day['9.17'].time)">
        <mat-card>9:17 AM</mat-card>
      </li>
    </div>








    <div *ngIf="day['2.09'].post">
        <mat-card>
          <div class="full-post">
            <div class="image-date">
                <img src="{{day['2.09'].image}}" alt="No Image here" width="200px">
                
                <p>Your post is scheduled for {{day['2.09'].time}}</p>
            </div>
            <div class="caption-buttons">
              <div id="caption">
  
                  <strong>{{postPreview(day['2.09'].post)}}</strong>
  
              </div>
              <div class="d-e-buttons">
                  <button mat-raised-button color="primary" (click)="deletePost(day['2.09'])">Delete</button>

                <button mat-raised-button class="edit-b" color="primary" (click)="editDialog(day['2.09'])">Edit</button>
  
              </div>
            </div>
          </div>
        </mat-card>
      </div>
  
      <div *ngIf="!day['2.09'].post">
  
        <li class="time-select" (click)="addEventDialog(day.date, day['2.09'].time)">
          <mat-card>2:09 PM</mat-card>
        </li>
      </div>







    
      <div *ngIf="day['3.45'].post">
          <mat-card>
            <div class="full-post">
              <div class="image-date">
                  <img src="{{day['3.45'].image}}" alt="No Image here" width="200px">
                  
                  <p>Your post is scheduled for {{day['3.45'].time}}</p>
              </div>
              <div class="caption-buttons">
                <div id="caption">
    
                    <strong>{{postPreview(day['3.45'].post)}}</strong>
    
                </div>
                <div class="d-e-buttons">
                    <button mat-raised-button color="primary" (click)="deletePost(day['3.45'])">Delete</button>

                  <button class="edit-b" mat-raised-button color="primary" (click)="editDialog(day['3.45'])">Edit</button>
    
                </div>
              </div>
            </div>
          </mat-card>
        </div>
    
        <div *ngIf="!day['3.45'].post">
    
          <li class="time-select" (click)="addEventDialog(day.date, day['3.45'].time)">
            <mat-card>3:45 PM</mat-card>
          </li>
        </div>











        <div *ngIf="day['9.38'].post">
            <mat-card>
              <div class="full-post">
                <div class="image-date">
                    <img src="{{day['9.38'].image}}" alt="" width="200px">
                    
                    <p>Your post is scheduled for {{day['9.38'].time}}</p>
                </div>
                <div class="caption-buttons">
                  <div id="caption">
      
                      <strong>{{postPreview(day['9.38'].post)}}</strong>
      
                  </div>
                  <div class="d-e-buttons">
                      <button mat-raised-button color="primary" (click)="deletePost(day['9.38'])">Delete</button>

                    <button mat-raised-button class="edit-b" color="primary" (click)="editDialog(day['9.38'])">Edit</button>
      
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
      
          <div *ngIf="!day['9.38'].post">
      
            <li class="time-select" (click)="addEventDialog(day.date, day['9.38'].time)">
              <mat-card>9:38 PM</mat-card>
            </li>
          </div>






    <!-- {{compare(day.month, day.day, )}} -->

    <div *ngFor="let item of events">
      <div *ngIf="compare(day.month, day.day, item)">

        <mat-card>
          <div class="full-post">
            <div class="image-date">
                <img src="{{item.image}}" alt="" width="200px">
                
                <p>Your post is scheduled for {{item.time}}</p>
            </div>
            <div class="caption-buttons">
              <div id="caption">
  
                  <strong>{{postPreview(item.description)}}</strong>
  
              </div>
              <div class="d-e-buttons">
                  <button mat-raised-button color="primary" (click)="deletePost(item)">Delete</button>

                <button mat-raised-button class="edit-b" color="primary" (click)="editDialog(item)">Edit</button>
  
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </ul>





</div>