<div *ngIf="data['action']=='create'">
        

        <div class="dialog-container">
                <h3>Schedule Post</h3>
                <div *ngIf="data_array">

  <mat-form-field>
  <mat-label>Select Page</mat-label>
  <mat-select [(value)]="selected_value">
    <mat-option *ngFor="let item of data_array" [value]="item.page_name">
      {{item.page_name}}
    </mat-option>
  </mat-select>
</mat-form-field>

 

  <!-- <button (click)="selected()">Show</button> -->
</div>
                <div class="buffer">
                    <textarea (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                        placeholder="What would you like to share?"></textarea>
                    <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
            
                    <div class="image-upload">
                        <label for="img" id="upload-icon">
            
                            <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
            
                            <i class="material-icons icon-color"  style="font-size: 40px;">
                                add_photo_alternate
                            </i>
            
                        </label>
                        <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
                        <div *ngIf="imgUrl">
                            <mat-card><img src={{imgUrl}} width="125px" ></mat-card>
                        </div>
                    </div>
                </div>
            
                <br>
                <div class="modal-buttons">
            
                    {{data['time']}}
                    <div class="input-field">
            
            
            
                        <button mat-raised-button color="primary" (click)="Schedule()">Schedule Post</button>
                    </div>
            
            
                </div>
            
            
            
            </div>
</div>

<div *ngIf="data['action']=='edit'">
        <div class="dialog-container">
                <h3>Schedule Post</h3>
                <div class="buffer">
                    <textarea [value]="caption" (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                        placeholder="What would you like to share?"></textarea>
                    <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
            
                    <div class="image-upload">
                        <label for="img" id="upload-icon">
            
                            <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
            
                            <i class="material-icons icon-color"  style="font-size: 40px;">
                                add_photo_alternate
                            </i>
            
                        </label>
                        <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
                        <div *ngIf="imgUrl">
                            <mat-card><img src={{imgUrl}} width="125px" ></mat-card>
                        </div>
                    </div>
                </div>
            
                <br>
                <div class="modal-buttons">
            
                    {{data['time']}}
                    <div class="input-field">
            
            
            
                        <button mat-raised-button color="primary" (click)="Edit()">Edit</button>
                    </div>
            
            
                </div>
            
            
            
            </div>
</div>




<div *ngIf="data['action']=='edit_post'">
        <div class="dialog-container">
                <h3>Schedule Post</h3>
                <div class="buffer">
                    <textarea [value]="caption" (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                        placeholder="What would you like to share?"></textarea>
                    <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
            
                    <div class="image-upload">
                        <label for="img" id="upload-icon">
            
                            <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
            
                            <i class="material-icons icon-color"  style="font-size: 40px;">
                                add_photo_alternate
                            </i>
            
                        </label>
                        <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
                        <div *ngIf="imgUrl">
                            <mat-card><img src={{imgUrl}} width="125px" ></mat-card>
                        </div>
                    </div>
                </div>
            
                <br>
                <div class="modal-buttons">
            
                    {{data['time']}}
                    <div class="input-field">
            
            
            
                        <button mat-raised-button color="primary" (click)="Edit_post()">Edit</button>
                    </div>
            
            
                </div>
            
            
            
            </div>
</div>

<div *ngIf="data['action']=='custom'">


    <div class="dialog-container">

        <div class="buffer">
            <textarea (input)="caption = $event.target.value;" name="caption" id="caption" cols="72" rows="10"
                placeholder="What would you like to share?"></textarea>
            <!-- <input type="text" (input)="caption = $event.target.value;" style="width: 100%; height: 100px;"> -->
    
            <div class="image-upload">
                <label for="img" id="upload-icon">
    
                    <!-- <i style="margin-top: 20px;" class="fas fa-image fa-3x"></i> -->
    
                    <i class="material-icons icon-color"  style="font-size: 40px;">
                        add_photo_alternate
                    </i>
    
                </label>
                <input type="file" name="imgUrl" id="img" (change)="preview($event)" style="display: none;" />
                <div *ngIf="imgUrl">
                    <mat-card><img src={{imgUrl}} width="125px" ></mat-card>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Select Page</mat-label>
            <mat-select [(value)]="selected_value">
              <mat-option *ngFor="let item of data_array" [value]="item.page_name">
                {{item.page_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>



        <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date_input"  placeholder="Choose a date">
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </div>
          
        <div style="display: flex; flex-direction: row; justify-content: space-between;">

          <mat-form-field>
            <mat-label>Hour</mat-label>
            <mat-select [(ngModel)]="hour_for_time">
              <mat-option *ngFor="let h of hour" [value]="h">
                {{h}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Minute</mat-label>
            <mat-select [(ngModel)]="minute_for_time">
              <mat-option *ngFor="let m of minute" [value]="m" >
                {{m}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <button mat-raised-button (click)="test_show()">Schedule Post</button>
    </div>



</div>