<mat-card>
  <h3>Finalized Content</h3>
  <ul>
    <div *ngFor="let item of files">

      <mat-card *ngIf="item.image!=null"><li>
        <a href={{item.image}}> <img src={{item.image}} alt="No image here"> </a>
      </li>
    </mat-card>
    <mat-card style="width:200px;" *ngIf="item.image==null" (click)="card_data=item.caption"  data-toggle="modal" data-target="#exampleModal"><li>
        <a > {{fixString(item.caption)}} </a>
      </li>
    </mat-card>
    </div>

    
  </ul>




  <!-- modal -->



  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finalized Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{card_data}}
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>




  <!-- modal -->
</mat-card>