ul{
    list-style: none;
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
}

ul img{
    width: 200px;
    

}

li{
    margin: 5px;
}

// ul img:hover{
//     width: 250px;
// }