<div class="container">



<br><br>
  <div class="custom-recharge">
    <h4>Custom Recharge:</h4>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">৳</span>
      </div>
      <input type="text" class="form-control"  (input)="custom=$event.target.value"  aria-label="Amount (to the nearest taka)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>

    <button mat-raised-button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#customModal">Recharge</button>
    
  </div>


  <br>
  <h4>Packages:</h4>
  <div class="mycon">
    
    <mat-card class="box" >
      <br>
      <br>
      <h2>SME</h2>
      <br>
      <br>
      <div class="taka">৳15,000</div>
      <p>PER USER, MONTH</p>
      <div class="pro">
        <p>Professional features for your business to grow</p>
      </div> <br>
      <button mat-raised-button type="button" class="btn btn-info" data-toggle="modal" data-target="#firstModal">
        Buy Package
      </button>
    </mat-card>


    <mat-card class="box">
      <br>
      <br>
      <h2>STARTUP</h2>
      <br>
      <br>
      <div class="taka">৳7500</div>
      <p>PER USER, MONTH</p>
      <div class="pro">
        <p>Professional features for your business to grow</p>
      </div> <br>
      <button mat-raised-button type="button" class="btn btn-danger" data-toggle="modal" data-target="#secondModal">
        Buy Package
      </button>
    </mat-card>

    <mat-card class="box">
      <br>
      <br>
      <h2>SME</h2>
      <br>
      <br>
      <div class="taka">৳45,000</div>
      <p>PER USER, MONTH</p>
      <div class="pro">
        <p>Professional features for your business to grow</p>
      </div>
      <br>
      <button mat-raised-button type="button" class="btn btn-primary" data-toggle="modal" data-target="#thirdModal">
        Buy Package
      </button>
    </mat-card>





  </div>
  <!-- Button trigger modal -->



  <!-- Modal -->
  <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="firstModalLabel">৳ 15000 Package</h5>
          <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">

            <input matInput type="text" class="form-control"  (input)="phone=$event.target.value" placeholder="Enter your phone number" required>
            <br>
            <input matInput type="text" class="form-control" (input)="street=$event.target.value" placeholder="Enter your street" required>
            <br>
            <input matInput type="text" class="form-control" (input)="city=$event.target.value" placeholder="Enter your city" required>
            <br>
            <input matInput type="text" class="form-control" (input)="state=$event.target.value" placeholder="Enter your state" required>
            <br>
            <input matInput type="text" class="form-control" (input)="zipcode=$event.target.value" placeholder="Enter your zipcode" required>








          </div>
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button mat-raised-button type="button" class="btn btn-primary"
            (click)="getInvoice(15000, 'Tk 15000', 'Add Tk 15000 to balance')" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>








  <!-- Modal -->
  <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="secondModalLabel">৳ 7500 Package</h5>
          <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group">

            <input type="text" class="form-control" (input)="phone=$event.target.value" placeholder="Enter your phone number" required>
            <br>
            <input type="text" class="form-control" (input)="street=$event.target.value" placeholder="Enter your street" required>
            <br>
            <input type="text" class="form-control" (input)="city=$event.target.value" placeholder="Enter your city" required>
            <br>
            <input type="text" class="form-control" (input)="state=$event.target.value" placeholder="Enter your state" required>
            <br>
            <input type="text" class="form-control" (input)="zipcode=$event.target.value" placeholder="Enter your zipcode" required>








          </div>
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button mat-raised-button type="button" class="btn btn-primary" (click)="getInvoice(7500, 'Tk 7500', 'Add Tk 7500 to balance')"
            data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>









  <!-- Modal -->
  <div class="modal fade" id="thirdModal" tabindex="-1" role="dialog" aria-labelledby="thirdModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="thirdModalLabel">৳ 45000 Package</h5>
          <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">

            <input type="text" class="form-control" (input)="phone=$event.target.value" placeholder="Enter your phone number" required>
            <br>
            <input type="text" class="form-control" (input)="street=$event.target.value" placeholder="Enter your street" required>
            <br>
            <input type="text" class="form-control" (input)="city=$event.target.value" placeholder="Enter your city" required>
            <br>
            <input type="text" class="form-control" (input)="state=$event.target.value" placeholder="Enter your state" required>
            <br>
            <input type="text" class="form-control" (input)="zipcode=$event.target.value" placeholder="Enter your zipcode" required>








          </div>



        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button mat-raised-button type="button" class="btn btn-primary"
            (click)="getInvoice(45000, 'Tk 45000', 'Add Tk 45000 to balance')" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>






  <!-- Modal -->
  <div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customModalLabel">Tk {{custom}} Recharge</h5>
          <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">

            <input type="text" class="form-control" (input)="phone=$event.target.value" placeholder="Enter your phone number" required>
            <br>
            <input type="text" class="form-control" (input)="street=$event.target.value" placeholder="Enter your street" required>
            <br>
            <input type="text" class="form-control" (input)="city=$event.target.value" placeholder="Enter your city" required>
            <br>
            <input type="text" class="form-control" (input)="state=$event.target.value" placeholder="Enter your state" required>
            <br>
            <input type="text" class="form-control" (input)="zipcode=$event.target.value" placeholder="Enter your zipcode" required>








          </div>



        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button mat-raised-button type="button" class="btn btn-primary"
            (click)="getInvoice(custom, 'Custom amount', 'Custom Recharge')" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>



</div>

