.box{
    height:450px;
    width: 280px;
    text-align: center;
}

.taka{
    font-size: 60px;
    
}

.mycon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.pro{
    width: 140px;
    margin: auto;

}

#blue{
    background-color: #6FCEFF;
}

#red{
    background-color: #FF6F6F;
}

#purple{
    background-color: #6F8DFF;
}
/* 
.custom-recharge{
    display:flex;
    flex-direction: column;
} */
.modal-backdrop {z-index: 1050;}
.modal-content {z-index: 1060;}