<p>
  reservation works!
</p>
<div>
  <table class="table">


    <thead>
      <tr>
        <th scope="col">Organization</th>
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Check In Date</th>
        <th scope="col">Check Out Date</th>
        <th scope="col">Preferences</th>
        <th scope="col">Send Check In Message</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reservations">
        <td>{{item.organization.organization_name}}</td>
        <td>{{item.user_id}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.check_in_date}}</td>
        <td>{{item.check_out_date}}</td>
        <td>{{item.preferences}}</td>
        <td><button mat-raised-button (click)="sendMessage(item.user_id)">Send Check In Message</button></td>
      </tr>


    </tbody>
  </table>

</div>