<mat-card>
    <div id="mynav">
        <button mat-button data-toggle="modal" data-target="#exampleModal">Add People</button>
        <button mat-button data-toggle="modal" data-target="#exampleModal2">Invite People</button>
    </div>
</mat-card>
<mat-card class="mycon">


    


    <div *ngIf="team">
        <h3>My Team:</h3>
    </div>
    <div class="team">
        <mat-card class="member" *ngFor="let item of team">
            
            <img src="https://banner2.cleanpng.com/20180402/ojw/kisspng-united-states-avatar-organization-information-user-avatar-5ac20804a62b58.8673620215226654766806.jpg" alt="">
            {{item.user.user.email}}
            <button mat-raised-button class="btn btn-dark" style="margin-top: 5px;"
                (click)="removeMember(item.id)">Remove</button>
        </mat-card>
    </div>

    <div *ngIf="c_teams">
        <h3>Current Teams:</h3>
    </div>
    <div class="team">
        <mat-card class="member_c" *ngFor="let item of c_teams">
            <strong>Team Leader</strong>
            <img src="https://banner2.cleanpng.com/20180402/ojw/kisspng-united-states-avatar-organization-information-user-avatar-5ac20804a62b58.8673620215226654766806.jpg" alt="">

            {{item.owner.user.email}}
            <br>
            <button mat-raised-button class="btn btn-dark btn-sm" (click)="quitTeam(item.id)">Quit Team</button>
        </mat-card>
    </div>




</mat-card>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add User to your team</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input class="form-control" id="exampleInputEmail1" [value]="active_email" (input)="searchUser($event)"
                    placeholder="Enter search term...">
                <ul class="list-group">
                    <li *ngFor="let item of search_results" (click)="setActiveUser(item.user.email)"
                        class="list-group-item">{{item.user.email}}</li>
                </ul>
                <br>
            </div>
            <div class="modal-footer">

                <button mat-raised-button type="button" class="btn btn-primary" (click)="invite('active')" data-dismiss="modal">Add
                    People</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Invite People</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <input class="form-control" id="exampleInputEmail1" (input)="email = $event.target.value"
                    placeholder="Enter an email address...">
            </div>
            <div class="modal-footer">

                <button mat-raised-button type="button"  class="btn btn-primary" (click)="invite('cWork')" data-dismiss="modal">Invite
                    People</button>
            </div>
        </div>
    </div>
</div>