.team{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}

.member{
    // border: 1px solid grey;
    height: auto;
    width: 250px;
    padding:5px;
    margin:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.member_c{

    border: 1px solid grey;
    height: auto;
    width: 250px;
    padding:5px;
    margin:5px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
#mynav{
    
    display: flex;
    flex-direction: row-reverse;
}