.email-header{
    display: flex;
}

.el{
    margin-right: 5px;
}
.boxsizingBorder {
    width: 100%;
}
.textareaContainer {
	display: block;
	border: 1px solid #eeeeee;
	padding: 10px;
  }

.member-section{
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}