

<div class="member-section">
<div>
<mat-form-field class="example-full-width">
<input type="text" matInput [(ngModel)]="add_email" placeholder="Email Address">
</mat-form-field>
<br>

<button mat-raised-button color="light" (click)="addListMember()" [disabled]="!add_email">Add Member</button>
</div>
<mat-form-field *ngIf="members">
    <mat-label>List</mat-label>
    <mat-select>
      <mat-option *ngFor="let element of members.members">
        <div style="display: flex; justify-content: space-between;">
            {{element.email_address}}

            <button mat-button style="color: red;" (click)="removeEmail(element.email_address)" >Delete</button>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<br>
<div class="email-header">
<mat-form-field class="example-full-width el" >
<input matInput type="text" placeholder="Subject" [(ngModel)]="subject_line">
</mat-form-field>

<mat-form-field class="example-full-width el">
<input matInput type="text" placeholder="Email Preview" [(ngModel)]="preview_text">
</mat-form-field>

<mat-form-field class="example-full-width el">
<input matInput type="text" placeholder="Email Title" [(ngModel)]="title">
</mat-form-field>

<mat-form-field class="example-full-width el">
<input matInput type="text" placeholder="From Name" [(ngModel)]="from_name">
</mat-form-field>

<mat-form-field class="example-full-width el">
<input matInput type="text" placeholder="Your Email" [(ngModel)]="reply_to">
</mat-form-field>
</div>

<mat-form-field class="textareaContainer  ">
<textarea matInput class="boxsizingBorder" (input)="plain_text=$event.target.value" name="email body" id="" cols="30" rows="10"></textarea>
</mat-form-field>

<br>
<button mat-raised-button color="light" (click)="runCampaign()" [disabled]="isDisabled()">Run Campaign</button>

