.social-card{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content{
    display: flex;
    flex-direction: row;
}