<div class="content">
<mat-card class="social-card" style="background-color:#f8da1a">

        <!-- <div class="content"> -->

        <i style="color:black" class="fab fa-mailchimp fa-4x"></i>
        <br>
        <button mat-raised-button (click)="mail_oauth()">Authenticate</button>

        <!-- </div> -->

    </mat-card>
</div>
